/* Переменные */
:root {
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --title-color: #212121;
  --text-color: #757575;
  --hero-color: #2f303a;
  --hover-button-color: #188ce8;
  --portfolio-button-color: #f5f4fa;
  --logo-font: 'Raleway', 'Arial', 'Helvetica', sans-serif;
  --main-font: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

/* селектор тега */
body {
  background-color: var(--white-color);
  color: var(--title-color);
  font-family: var(--main-font);
  font-style: normal;
}

/* Универсальный селектор */
* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

/* ХЭДЭР */
.page-header {
  background-color: var(--white-color);
}

.nav-list {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.contact-nav {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* Навигация */
.link-nav:hover,
.link-nav:focus,
.link-nav:active {
  color: var(--accent-color);
}

.adress-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.contact-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* Footer navigacion */
.link-nav-footer:hover,
.link-nav-footer:focus,
.link-nav-footer:active {
  color: var(--accent-color);
}

.hero {
  /* width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px; */
  background-color: var(--hero-color);
}

.title-hero {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  color: var(--white-color);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопка на секции герой*/

.button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  border: none;
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--white-color);
  background-color: var(--hover-button-color);
}

/* Кнопки на странице Портфолио */
.button-portfolio {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--title-color);
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  background: var(--portfolio-button-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button-portfolio:hover,
.button-portfolio:focus,
.button-portfolio:active {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/* Секция наши преимущества (заголовки и текст) в Index */

.invisible {
  display: none;
}

.title-section {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.title-list {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}

.text-list {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.title-our-team {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.text-our-team {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 16px;
  line-height: 1.18;
  /* text-align: center; */
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Секция наши проекты (заголовки и текст) в Portfolio pages */

.title-portfolio {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.text-portfolio {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

/* Применится ко всем ссылкам на странице */
a {
  text-decoration: none;
  color: inherit;
}

/* Логотип */

.logo {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.logostudio {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* Логотип в футере */

.logo-footer {
  font-family: var(--logo-font);
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

/* Подвал */

/* .footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
} */

.container-box-footer {
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 1628px;
  background: #2f303a;
}

/* убрали маркеры у списка */
.list {
  list-style: none;
}
